# docker-compose.yml
services:
  web:
    build: .
    env_file:
      - .env
    command: python app.py
    restart: unless-stopped
    expose:
      - "5000"
    volumes:
      - ./logs/web:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - proxy-network

  bot:
    build: .
    env_file:
      - .env
    command: python modules/botTelegram.py
    restart: unless-stopped
    volumes:
      - ./logs/bot:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - proxy-network

volumes:
  prometheus-data:
  grafana-storage:

networks:
  proxy-network:
    external: true
