# prometheus.yml
global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'web'
    static_configs:
      - targets: ['web:5000']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  # Если добавите /metrics в Flask
  - job_name: 'flask-app'
    metrics_path: /metrics
    static_configs:
      - targets: ['web:5000']